#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: inherit;
}
main {
  width: 100%;  
}
table {
  width: 100%;
}
table thead th:hover {
  cursor: pointer;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
